/* UPLOADING & READING FILES
PRACTICE EXERCISE 14.1  (SEE HTML & JS)   */
/* .thumb {
    max-height: 100px;
    } */

/* HTML5 CANVAS */
/* canvas {
    border: 1px solid black;
    }  */


/* PRACTICE EXERCISE 14.2 (SEE HTML & JS) */
/* #canvas {
        border: 1px solid black;
        } */


/* DYNAMIC CANVAS
   ADDING LINES & CIRCLES TO CANVAS */
 /* #canvas1 {
    border: 1px solid black;
        }

    #canvas2 {
        border: 1px solid black;
        } */





/* PRACTICE EXERCISE 14.3 (SEE HTML & JS) */
/* #canvas {
    border: 1px solid black;
    } */
   


/* ADDING TEXT TO CANVAS     */
/* #canvas1 {
    border: 1px solid black;
    } */




/* ADDING & UPLOADING IMAGES TO CANVAS */
/* canvas {
    border: 1px solid black;
    } */

    /* ----------------------------------------------------------------------------------------------  */


/* CHAPTER PROJECTS
2. COUNTDOWN CLOCK */
/* .clock {
    background-color: blue;
    width: 400px;
    text-align: center;
    color: white;
    font-size: 1em;
    }

.clock>span {
        padding: 10px;
        border-radius: 10px;
        background-color: black;
        }

.clock>span>span {
        padding: 5px;
        border-radius: 10px;
        background-color: red;
        }

input {
        padding: 15px;
        margin: 20px;
        font-size: 1.5em;
        }    */



/* 3. ONLINE PAINT APP */
#canvas {
    border: 1px solid black;
    }