/* PRACTICE EXERCISE 12.7 (SEE HTML & JS) */
/* .ready {
    background-color: #ddd;
    color: red;
    text-decoration: line-through;
    } */



    /* ---------------------------------------------------------------------------- */
